@{
    ViewBag.Title = "Home";
}
<section id="portfolio" class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="portfolio-content">
                <div class="portfolio-tab pb55">


                    <div class="portfolio-tab-text-pic row">
                        <div id="posts">
                            <div id="1" class="item item-grid web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/projects/fed1.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="http://f1spgd.alexklee.net/Index.html" target="_blank" data-lightbox="roadtrip"></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Front End Dev Project</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Project, </a></li>

                                                    <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="2" class="item item-grid design branding">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/projects/dungeon.jpg" alt="image">
                                        </div>

                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>

                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">"Dungeon" Class C# Project</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">Project, </a></li>

                                                    <li><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">Development</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="3" class="item item-grid design branding">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/projects/dreamwares.png" alt="image">
                                        </div>

                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="http://storefront.alexklee.net/" target="_blank" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>

                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="http://storefront.alexklee.net/" target="_blank">"StoreFront" Ecommerce MVC Full-Stack Project.</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="http://storefront.alexklee.net/" target="_blank">Project, </a></li>

                                                    <li><a href="http://storefront.alexklee.net/" target="_blank">Development</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="3" class="item item-grid design branding">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/projects/api.png" alt="image">
                                        </div>

                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="http://api.alexklee.net/" target="_blank" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>

                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="http://api.alexklee.net/" target="_blank">API for my React Todo application. {Project scheduled for release April 15th.}</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="http://api.alexklee.net/" target="_blank">Project, </a></li>

                                                    <li><a href="http://api.alexklee.net/" target="_blank">Development</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>
                </div>


                <div class="poppin-more text-uppercase text-center">
                    <div class="more-btn">
                        <a href="@Url.Action("Project", "Home")">MORE PROJECTS</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="service" class="service-section pt90 pb40">
    <div class="container">
        <div class="row">
            <div class="section-title text-capitalize deep-black pb75">
                <h2>Latest Projects</h2>
            </div>

            <div class="latest-blog-content">
                <div class="row">

                    <div class="col-md-4">
                        <div class="latest-blog-text-pic">
                            <div class="latest-blog-img mb10">
                                <img src="~/Content/assets/img/projects/fed1.jpg" alt="img">
                                <div class="blog-meta mt20 ul-li">
                                    <ul class="meta-list">
                                        <li><a href="">February 17, 2022  /  </a></li>
                                        <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">  Projects /  </a></li>
                                        <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Development</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="latest-blog-text">
                                <div class="blog-head">
                                    <h2> <a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Front End Dev Project</a></h2>
                                </div>
                                <div class="blog-details mt15">
                                    <p>
                                        Very first project as a student.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="latest-blog-text-pic">
                            <div class="latest-blog-img mb10">
                                <img src="~/Content/assets/img/projects/dungeon.jpg" alt="img">
                                <div class="blog-meta mt20 ul-li">
                                    <ul class="meta-list">
                                        <li><a href="">February 12, 2022  /  </a></li>
                                        <li><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">  Projects /  </a></li>
                                        <li><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">Development</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="latest-blog-text">
                                <div class="blog-head">
                                    <h2> <a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">"Dungeon" Class C# Project</a></h2>
                                </div>
                                <div class="blog-details mt15">
                                    <p>
                                        A simple text based C# game.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="latest-blog-text-pic">
                            <div class="latest-blog-img mb10">
                                <img src="~/Content/assets/img/projects/dreamwares.png" alt="img">
                                <div class="blog-meta mt20 ul-li">
                                    <ul class="meta-list">
                                        <li><a href="">February 12, 2022  /  </a></li>
                                        <li><a href="http://storefront.alexklee.net/" target="_blank">  Projects /  </a></li>
                                        <li><a href="http://storefront.alexklee.net/" target="_blank">Development</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="latest-blog-text">
                                <div class="blog-head">
                                    <h2> <a href="http://storefront.alexklee.net/" target="_blank">"StoreFront" Ecommerce MVC Full-Stack Project.</a></h2>
                                </div>
                                <div class="blog-details mt15">
                                    <p>
                                        A simple shop selling all kinds of "wonderful" items.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="latest-blog-text-pic">
                            <div class="latest-blog-img mb10">
                                <img src="~/Content/assets/img/projects/api.png" alt="img">
                                <div class="blog-meta mt20 ul-li">
                                    <ul class="meta-list">
                                        <li><a href="">February 12, 2022  /  </a></li>
                                        <li><a href="http://api.alexklee.net/" target="_blank">  Projects /  </a></li>
                                        <li><a href="http://api.alexklee.net/" target="_blank">Development</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="latest-blog-text">
                                <div class="blog-head">
                                    <h2> <a href="http://api.alexklee.net/" target="_blank">API for my React Todo application. {Project scheduled for release April 15th.}</a></h2>
                                </div>
                                <div class="blog-details mt15">
                                    <p>
                                        First experience building an API, used for data in my Todo application.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>



        </div>
    </div>
</section>
