@{
    ViewBag.Title = "Home";
}
<section id="portfolio" class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="portfolio-content">
                <div class="portfolio-tab pb55">


                    <div class="portfolio-tab-text-pic row">
                        <div id="posts">
                            <div id="1" class="item item-grid web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/projects/fed1.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="http://f1spgd.alexklee.net/Index.html" target="_blank" data-lightbox="roadtrip"></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Front End Dev Project</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Project, </a></li>

                                                    <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="2" class="item item-grid design branding">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-2.jpg" alt="image">
                                        </div>

                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="~/Content/assets/img/portfolio/port-2.jpg" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>

                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">web, </a></li>

                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="3" class="item item-grid design web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-3.jpg" alt="image">
                                        </div>

                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="~/Content/assets/img/portfolio/port-3.jpg" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>

                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">design, </a></li>

                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="4" class="item item-grid design photography web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-5.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="~/Content/assets/img/portfolio/port-5.jpg" data-lightbox="roadtrip"><span class="ti-link"></span></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">Branding, </a></li>

                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="5" class="item item-grid design web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-4.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a class="popup zoom-gallery" href="https://www.youtube.com/watch?v=_kqQDCxRCzM"><span class="ti-control-forward"></span></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">travel, </a></li>

                                                    <li><a href="#">place</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="6" class="item item-grid design branding web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-6.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="~/Content/assets/img/portfolio/port-6.jpg" data-lightbox="roadtrip"><span class="ti-link"></span></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">identity, </a></li>

                                                    <li><a href="#">institute</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="7" class="item item-grid design branding web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-7.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="~/Content/assets/img/portfolio/port-7.jpg" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">Branding, </a></li>

                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="8" class="item item-grid design branding web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-9.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a class="popup" href="https://www.youtube.com/watch?v=QJO3ROT-A4E&list=PLxdmSpdkY-5LG9ZYDrX3qQq_iqsjfJhx9"><span class="ti-control-forward"></span></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">html, </a></li>

                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="9" class="item item-grid design branding web">
                                <div class="item-wrap">
                                    <div class="work-item">
                                        <div class="work-pic">
                                            <img src="~/Content/assets/img/portfolio/port-8.jpg" alt="image">
                                        </div>
                                        <div class="hover-content">
                                            <div class="hover-text text-center">
                                                <a href="~/Content/assets/img/portfolio/port-8.jpg" data-lightbox="roadtrip"><span class="ti-fullscreen"></span></a>
                                            </div>
                                            <div class="project-description text-uppercase ul-li">
                                                <h3><a href="#">project Item Title</a></h3>
                                                <ul class="project-catagorry text-capitalize">
                                                    <li><a href="#">Branding, </a></li>

                                                    <li><a href="#">Development</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="poppin-more text-uppercase text-center">
                    <div class="more-btn">
                        <a href="projects.html">MORE WORKS</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="service" class="service-section pt90 pb40">
    <div class="container">
        <div class="row">
            <div class="section-title text-capitalize deep-black pb75">
                <h2>Latest Projects</h2>
            </div>

            <div class="latest-blog-content">
                <div class="row">

                    <div class="col-md-4">
                        <div class="latest-blog-text-pic">
                            <div class="latest-blog-img mb10">
                                <img src="~/Content/assets/img/projects/fed1.jpg" alt="img">
                                <div class="blog-meta mt20 ul-li">
                                    <ul class="meta-list">
                                        <li><a href="">February 17, 2022  /  </a></li>
                                        <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">  Projects /  </a></li>
                                        <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Development</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="latest-blog-text">
                                <div class="blog-head">
                                    <h2> <a href="http://f1spgd.alexklee.net/Index.html">Front End Dev Project</a></h2>
                                </div>
                                <div class="blog-details mt15">
                                    <p>
                                        Very first project as a student.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>



        </div>
    </div>
</section>
