
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<section id="blog-main" class="blog-main-section">
    <div class="container">
        <div class="row section-content">
            <div class="blog-main-content">


                <div class="blog-main-text-pic">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/img/projects/fed1.jpg" alt="img">
                            <a href="http://f1spgd.alexklee.net/Index.html" target="_blank"></a>
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a>February 17, 2022  /  </a></li>
                                    <!--<li><a href="#">  Tonmoy /  </a></li>-->
                                    <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">FED1</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Front End Development (FED) Project</a></h2>
                            </div>
                            <!-- //.blog-main-link -->

                            <div class="blog-read-more mt15 text-capitalize">
                                <a href="http://f1spgd.alexklee.net/Index.html" target="_blank">read more<span class="ti-arrow-right"></span></a>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->









            </div>
            <!-- // .blog-main-content -->

        </div><!--  /.row -->
    </div><!--  /.container-->
</section>
