
@{
    ViewBag.Title = "Projects";
}



<section id="blog-main" class="blog-main-section">
    <div class="container">
        <div class="row section-content">
            <div class="blog-main-content">


                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/img/projects/fed1.jpg" alt="img">
                            <a href="http://f1spgd.alexklee.net/Index.html" target="_blank"></a>
                        </div>

                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a>February 17, 2022  /  </a></li>

                                    <li><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">FED1</a></li>
                                </ul>
                            </div>

                            <div class="blog-main-link deep-black mt20">
                                <h2><a href="http://f1spgd.alexklee.net/Index.html" target="_blank">Front End Development (FED) Project</a></h2>
                            </div>

                            <div class="blog-read-more mt15 text-capitalize">
                                <a href="http://f1spgd.alexklee.net/Index.html" target="_blank">read more<span class="ti-arrow-right"></span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="blog-main-text-pic col-md-12">
                <div class="blog-item-content">
                    <div class="blog-main-pic">
                        <img src="~/Content/assets/img/projects/dungeon.jpg" alt="img">
                        <a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank"></a>
                    </div>

                    <div class="blog-main-text">
                        <div class="blog-meta mt20 ul-li">
                            <ul class="meta-list">
                                <li><a>February 12, 2022  /  </a></li>
                                <li><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">C#</a></li>
                            </ul>
                        </div>

                        <div class="blog-main-link deep-black mt20">
                            <h2><a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">"Dungeon" Class C# Project</a></h2>
                        </div>

                        <div class="blog-read-more mt15 text-capitalize">
                            <a href="https://github.com/KleeAlex/DungeonAppProject" target="_blank">read more<span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-main-text-pic col-md-12">
                <div class="blog-item-content">
                    <div class="blog-main-pic">
                        <img src="~/Content/assets/img/projects/dreamwares.png" alt="img">
                        <a href="http://storefront.alexklee.net/" target="_blank"></a>
                    </div>

                    <div class="blog-main-text">
                        <div class="blog-meta mt20 ul-li">
                            <ul class="meta-list">
                                <li><a>February 12, 2022  /  </a></li>
                                <li><a href="http://storefront.alexklee.net/" target="_blank">StoreFront</a></li>
                            </ul>
                        </div>

                        <div class="blog-main-link deep-black mt20">
                            <h2><a href="http://storefront.alexklee.net/" target="_blank">"StoreFront" Ecommerce MVC Full-Stack Project.</a></h2>
                        </div>

                        <div class="blog-read-more mt15 text-capitalize">
                            <a href="http://storefront.alexklee.net/" target="_blank">read more<span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-main-text-pic col-md-12">
                <div class="blog-item-content">
                    <div class="blog-main-pic">
                        <img src="~/Content/assets/img/projects/pairedprogram.jpg" alt="img">
                        <a href="http://satproject.alexklee.net/" target="_blank"></a>
                    </div>

                    <div class="blog-main-text">
                        <div class="blog-meta mt20 ul-li">
                            <ul class="meta-list">
                                <li><a>February 12, 2022  /  </a></li>
                                <li><a href="http://satproject.alexklee.net/" target="_blank">SAT Paired Program</a></li>
                            </ul>
                        </div>

                        <div class="blog-main-link deep-black mt20">
                            <h2><a href="http://ianmcclaflin.com/" target="_blank">Paired Programing Project With Ian McClafin</h2>
                        </div>

                        <div class="blog-read-more mt15 text-capitalize">
                            <a href="http://satproject.alexklee.net/" target="_blank">read more<span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-main-text-pic col-md-12">
                <div class="blog-item-content">
                    <div class="blog-main-pic">
                        <img src="~/Content/assets/img/projects/api.png" alt="img">
                        <a href="http://api.alexklee.net/" target="_blank"></a>
                    </div>

                    <div class="blog-main-text">
                        <div class="blog-meta mt20 ul-li">
                            <ul class="meta-list">
                                <li><a>February 12, 2022  /  </a></li>
                                <li><a href="http://api.alexklee.net/" target="_blank">API</a></li>
                            </ul>
                        </div>

                        <div class="blog-main-link deep-black mt20">
                            <h2><a href="http://api.alexklee.net/" target="_blank">API for my React Todo application. {Due to unexpected host issues release is TBD.}</a></h2>
                        </div>

                        <div class="blog-read-more mt15 text-capitalize">
                            <a href="http://api.alexklee.net/" target="_blank">read more<span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</section>
