
@{
    ViewBag.Title = "Team Page";
}


<section id="blog-main" class="blog-main-section">
    <div class="container">
        <div class="row section-content blog-main-content">
           


                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Jazmine.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://jazminerizo.com/">  Personal Site </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://jazminerizo.com/">Jazmine Rizo</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->
                <!-- TODO Need to get his personal site added -->
                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Romeo.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://romeobagunu.com"> Personal Site </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/romeo-bagunu/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://romeobagunu.com">Romeo Bagunu</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->



                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Conor.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://fountaincitydev.com/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/connor-dunn-396188233/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://fountaincitydev.com/">Conor Dunn</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->
                <!-- TODO Need to get his personal site added -->
                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Enrique.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://eriquzdev.com">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/enrique-garcia1010/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://eriquzdev.com">Enrique Garcia</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->
                <!-- TODO Need to get his personal site added -->
                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Ian.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://ianmcclaflin.com/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/ian-mcclaflin-982755232/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://ianmcclaflin.com/">Ian McClafin</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->


                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Sean.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://mckinneywebdev.com/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/sean-a-mckinney/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://mckinneywebdev.com/">Sean McKinney</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->


                <div class="blog-main-text-pic col-md-12" style="margin-left: 35%">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Kayla.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://www.kaylawin.com/">  PersonalSite  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/kayla-n-nguyen/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://www.kaylawin.com/">Kayla Nguyen</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->
        

        </div><!--  /.row -->
                <div class="blog-pagination text-center">
                    <ul class="pagination">
                        <li><a href="@Url.Action("TeamPage1", "Home")">1</a></li>
                        <li><a href="@Url.Action("TeamPage2", "Home")">2</a></li>
                        <li><a href="@Url.Action("TeamPage2", "Home")"><span class="ti-arrow-right"></span></a></li>
                    </ul>
                </div>
        
    </div><!--  /.container-->
</section>