
@{
    ViewBag.Title = "Team Page";
}


<section id="blog-main" class="blog-main-section">
    <div class="container">
        <div class="row section-content">
            <div class="blog-main-content">


                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Michael.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://michaelredifer.com/">  Personal Site </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/michael-redifer-202288232/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://michaelredifer.com/">Michael Redifer</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>

                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Matt.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://mattroberts-dev.com/"> Personal Site </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/mattroberts-dev/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://mattroberts-dev.com/">Matthew Roberts</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->



                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Zak.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://zaksisler.com/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/zakary-sisler/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://zaksisler.com/">Zakary Sisler</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->
                <!-- TODO Need to get his personal site added -->
                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Payton.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://paytonvon.com/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/payton-vonholten-695316233/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://paytonvon.com/">Payton Vonholten</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->
                <!-- TODO Need to get his personal site added -->
                <div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Austin.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://austinwallace.net/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/aus-wallace/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://austinwallace.net/">Austin Wallace</a></h2>
                            </div>
                        </div>
                        <!-- // .blog-main-text -->
                    </div>
                </div>


                <div class="blog-main-text-pic col-md-12" style="margin-left: 35%;">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/teamImg/Justin.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="http://projectpeacock.net/">  Personal Site  </a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/justin-peacock-6aa829229/">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="http://projectpeacock.net/">Justin Peacock</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.blog-main-text-pic -->

                <!-- //.blog-main-text-pic -->
                <!-- TODO will need to find his personal site & Linkedin -->
                @*<div class="blog-main-text-pic col-md-12">
                    <div class="blog-item-content">
                        <div class="blog-main-pic">
                            <img src="~/Content/assets/img/blog/blog-5.jpg" alt="img">
                        </div>
                        <!-- //blog-pic -->
                        <div class="blog-main-text">
                            <div class="blog-meta mt20 ul-li">
                                <ul class="meta-list">
                                    <li><a target="_blank" href="#">  Personal Site  </a></li>
                                    <li><a target="_blank" href="#">Linkedin</a></li>
                                </ul>
                            </div>
                            <!-- // .blog-meta -->

                            <div class="blog-main-link deep-black mt20">
                                <h2><a target="_blank" href="#">Samuel Nichols</a></h2>
                            </div>
                        </div>
                    </div>
                </div>*@


            </div>
            <!-- // .blog-main-content -->

        </div><!--  /.row -->

            <div class="blog-pagination text-center">
                <ul class="pagination">
                    <li><a href="@Url.Action("TeamPage1", "Home")"><span class="ti-arrow-left"></span></a></li>
                    <li><a href="@Url.Action("TeamPage1", "Home")">1</a></li>
                    <li><a href="@Url.Action("TeamPage2", "Home")">2</a></li>
                </ul>
            </div>
    </div><!--  /.container-->
</section>
